@import "tailwindcss";

@layer components {
  .nav_link {
    @apply relative text-base font-medium w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-yellow-400 text-white after:w-full after:scale-x-0 
    hover:after:scale-x-100 after:transition after:duration-300 after:origin-left;
  }

  .text-bg {

    background-image: linear-gradient(to right, #8050f7 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    height: 10px;
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c277fa;
    border-radius: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #44028f;
  }
}
@layer utilities {
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #c277fa #44028f;
  }
}
@layer base {
  body {
    @apply bg-[#050715] text-white;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-white;
  }
  p {
    @apply text-gray-300;
  }
}
