@import "tailwindcss";

@theme {
  --color-primary-dark: #0f0715;
  --color-primary-bg: #050709;
  --color-primary-bg-alt: #050715;
  --color-card-dark: #140c1c;
  --color-nav-bg: #240b39;
  --color-accent-purple: #7947df;
  --color-accent-purple-hover: #5c2fb7;
  --color-accent-purple-light: #c277fa;
  --color-accent-purple-gradient-start: #8050f7;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10vh;
}

@layer components {
  .nav_link {
    @apply relative text-base font-medium w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-yellow-400 text-white after:w-full after:scale-x-0
    hover:after:scale-x-100 after:transition after:duration-300 after:origin-left;
  }

  .text-bg {
    background-image: linear-gradient(to right, var(--color-accent-purple-gradient-start) 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer base {
  body {
    @apply bg-primary-bg-alt text-white;
    scrollbar-width: thin;
    scrollbar-color: var(--color-accent-purple-light) #44028f;
  }

  body::-webkit-scrollbar {
    height: 10px;
    width: 8px;
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--color-accent-purple-light);
    border-radius: 4px;
  }

  body::-webkit-scrollbar-track {
    background-color: #44028f;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-white;
  }

  p {
    @apply text-gray-300;
  }
}
